{% extends 'publisher/base.html' %}
{% load static %}


{% block body %}

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     Want to know about us ?
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
    <p>
      <strong>Library</strong> is a comprehensive digital platform designed to streamline access to a vast collection of books, resources, and knowledge. 
      Our mission is to make reading and research convenient and accessible for all by offering an intuitive interface, advanced search capabilities, 
      and personalized recommendations. Whether you’re a student, researcher, or a passionate reader, Library is here to support your journey 
      towards knowledge and discovery.
    </p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}












